# robotpi_layer_priorities
BBFILE_PRIORITY_robotpi-common-layer_forcevariable = "51"
BBFILE_PRIORITY_robotpi-ros-layer_forcevariable = "52"
BBFILE_PRIORITY_robotpi-tools-layer_forcevariable = "53"

# ros2_layer_priorities
BBFILE_PRIORITY_ros-common-layer_forcevariable = "37"
BBFILE_PRIORITY_ros2-layer_forcevariable = "38"
BBFILE_PRIORITY_ros2-humble-layer_forcevariable = "39"

# yocto_base_layer_priorities
BBFILE_PRIORITY_core_forcevariable = "5"
BBFILE_PRIORITY_openembedded-layer_forcevariable = "10"
BBFILE_PRIORITY_networking-layer_forcevariable = "11"
BBFILE_PRIORITY_meta-python_forcevariable = "13"

# yocto_tool_priorities
BBFILE_PRIORITY_clang-layer_forcevariable = "15"
BBFILE_PRIORITY_qt5-layer_forcevariable = "16"

BBLAYERS ?= " \
  ${TOPDIR}/../layers/meta-clang \
  ${TOPDIR}/../layers/meta-openembedded/meta-networking \
  ${TOPDIR}/../layers/meta-openembedded/meta-oe \
  ${TOPDIR}/../layers/meta-openembedded/meta-python \
  ${TOPDIR}/../layers/meta-qt5 \
  ${TOPDIR}/../layers/meta-robotpi/meta-robotpi-common \
  ${TOPDIR}/../layers/meta-robotpi/meta-robotpi-ros \
  ${TOPDIR}/../layers/meta-robotpi/meta-robotpi-tools \
  ${TOPDIR}/../layers/meta-ros/meta-ros-common \
  ${TOPDIR}/../layers/meta-ros/meta-ros2 \
  ${TOPDIR}/../layers/meta-ros/meta-ros2-humble \
  ${TOPDIR}/../layers/openembedded-core/meta \
  "
BBPATH ?= "${TOPDIR}"
BBFILES ??= ""
